.rule-view div {
  display: flex; 
}

body{
  font-family: sans-serif;
  font-size: 12px;  
  margin-top: 0;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid grey;
  width: 25px;
}

#controlview {
  font-size: 12px;
}

.selection {
  border: 1px solid lightgrey;
}

.column {
  font-size: 12px;
}

.grid-row line {
  stroke-width: .5;
}

.grid-col line {
  stroke-width: .5;
}

rect {
  stroke-width: .5;
}

.slider-div p {
  margin-top: 2px;
  margin-left: 5px;
}

.slider-div {
  margin: 10px 5px 10px 5px;
}

.flex-col {
  display: flex;
  flex-direction: column; 
}

.flex-row {
  display: flex;
  flex-direction: row; 
}

.title {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;
  border-left: 1px solid grey;
}

.title span{
  margin-left: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  font-size: 16px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#rule_description p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.rule_highlight {
  fill: #fdcdac;
  fill-opacity: .5;
}

.highlight-circle {
  /*stroke: #fdcdac;*/
  stroke: black;
  fill: none;
}

.rule_clicked_node {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

/* Style the tab */
.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  justify-content: flex-start;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* Create an active/current tablink class */
.tab input.active {
  background-color: #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab input {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 5px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab input:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab input.active {
  background-color: #ccc;
}

#setting-tabs {
  height: 29px;
  border: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

#setting-block {
  border: 1px solid #ccc;
}

.support {
  font-size: 8px;
}

#radio_group {
  width: 15px;
}

#radio_group input {
  width: 13px;
}

#data-table {
  max-height: 120px; 
  max-width: 900px; 
  overflow: scroll;
}

#data-table table {
  border: 1px solid lightgrey;
  margin-left: 10px; 
  border-collapse: collapse;
}

#data-pred {
  max-height: 120px; 
  max-width: 100px;
  overflow: scroll;
}

table td {
  border: 1px solid lightgrey;
  height: 15px;
  width: 45px;
}

#rule_description {
  margin: 5px 15px;
  width: 950px;
}